*/object_script.*
scripts/vera++/params
scripts/.pyenv-*
*~
.*.swp 
# Compiled Object files
*.slo
*.lo
*.o
*.pyc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Precompiled Headers
*.gch
*.pch

# Qt specific
*.autosave
*.moc
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
Makefile*
*.pro.user*
bin/*
/.project
.qmake.cache
# project-specific
**/.build
tests/minimalCppApp/*
.qmake.stash
.ccache
# PKG config
pkg-config_wrapper.sh
/build/
tests/**/target_wrapper.sh
tests/**/rcc_wrapper.sh
tests/**/moc_wrapper.sh
tests/**/uic_wrapper.sh
