[submodule "PythonQt/PythonQt"]
	path = PythonQt/PythonQt
	url = https://github.com/trikset/trik-pythonqt.git
[submodule "tests/thirdparty/googletest"]
	path = tests/thirdparty/googletest
	url = https://github.com/google/googletest
	branch = main
[submodule "qslog/qslog"]
	path = qslog/qslog
	url = https://github.com/trikset/trik-qslog
	branch = codeimproved-master
[submodule "mlx90640-library/mlx90640-library"]
	path = mlx90640-library/mlx90640-library
	url = https://github.com/trikset/trik-mlx90640-library.git
