trigger:
  branches:
    include:
    - master
  tags:
    include:
    - '*'
  paths:
    exclude:
    - '.github'

variables:
  BUILDDIR: "$(Build.SourcesDirectory)/build"
  CONFIG: release
  CCACHE_DIR: "$(Build.SourcesDirectory)/.ccache/$(Agent.OS)-$(CONFIG)"
  VERA: false
  TRANSLATIONS: false

jobs:
  - job: Build
    strategy:
      matrix:
        macOs release:
          imageName: 'macOS-13'
          QMAKE_EXTRA: "CONFIG+=trik_not_brick CONFIG+=tests CONFIG+=precompile_header CONFIG+=sanitize_address CONFIG+=sanitize_undefined CONFIG+=sanitizer CONFIG+=force_debug_info CONFIG+=trik_nopython"
          TRIK_PYTHON3_VERSION_MINOR: 10
          TRIK_QT_VERSION: 5.15

    pool:
      vmImage: $(imageName)

    steps:
    - checkout: self
      fetchDepth: 100
      submodules: recursive

    - bash: scripts/azure/install_$(Agent.OS).sh
      displayName: Set up the environment
    - task: Cache@2
      inputs:
        key: '"ccache-$(Agent.OS)-$(CONFIG)" | "$(Build.SourceVersion)" | "$(QMAKE_EXTRA)"'
        path: $(CCACHE_DIR)
        restoreKeys: |
          "ccache-$(Agent.OS)-$(CONFIG)" | "$(Build.SourceVersion)" | "$(QMAKE_EXTRA)"
          "ccache-$(Agent.OS)-$(CONFIG)" | "$(Build.SourceVersion)"
          "ccache-$(Agent.OS)-$(CONFIG)" | "$(QMAKE_EXTRA)"
          "ccache-$(Agent.OS)-$(CONFIG)"
      displayName: Process caches
    - bash: scripts/azure/script.sh
      displayName: Build
      timeoutInMinutes: 25
    - bash: scripts/azure/after_script.sh
      displayName: After script
