QListView::item:selected:active { background: white;  color:black; border: 3px solid black }
trikGui--MotorsWidget trikGui--MotorLever:focus { border: 3px solid black }
QProgressBar::chunk:horizontal { background: green; margin-right: 1%; width: 5%; }

/* Without this the first MessageBox takes about 20 sec to open */
QDialogButtonBox { dialogbuttonbox-buttons-have-icons: 0; }
