name: 'Ubuntu-latest build and Linter'
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
  
jobs:
  ubuntu-latest:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        qt-version: ['5.15']
        python-version: ['3.11']

    steps:
      - name: Configure git
        run: |
            git --version
            git config --global core.symlinks true
            git config --global core.autocrlf false

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          submodules: recursive

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
        
      - name: Install Qt
        run: |
          sudo apt-get update && sudo apt-get install -y --no-install-recommends \
          make qtscript5-dev qttools5-dev-tools qtmultimedia5-dev libqt5serialport5-dev \
          qtbase5-private-dev bear
 
      - name: Ccache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          key: ${{ runner.os }}-${{ matrix.qt-version }}

      - name: Check available tools
        run: |
             set -xueo pipefail
             uname -a
             qmake --version && qmake -query
             python3 --version
             which g++
             g++ --version
             ccache --version

      - name: QMake
        run: |
            mkdir -p build && cd build && echo "BUILD_DIR=${PWD}" >> $GITHUB_ENV
            qmake CONFIG+=release CONFIG+=trik_not_brick \
                  CONFIG+=ccache CONFIG+=sanitizer \
                  CONFIG+=sanitize_undefined \
                  PYTHON_VERSION=$(python3 --version | grep -o '3\.[^.]\+') \
                  PYTHON_DIR=$(which python3 | xargs dirname | xargs dirname) \
                  "$GITHUB_WORKSPACE/"

      - name: QMake all
        timeout-minutes: 3
        run: |
            make -j $(nproc) qmake_all
        working-directory: ${{ env.BUILD_DIR }}

      - name: Make all
        timeout-minutes: 10
        run: |
            bear -- make -j $(nproc) all
        working-directory: ${{ env.BUILD_DIR }}
  
      - name: Clang-tidy
        uses: cpp-linter/cpp-linter-action@v2.16.7
        id: linter
        with:
         style: ''
         tidy-checks: ''
         version: 15
         database: ${{ env.BUILD_DIR }}
         verbosity: 'info'
         files-changed-only: true
         ignore-tidy: '^(PythonQt|mlx90640-library)$'
   
      - name: Clang-tidy exit
        if: ${{ steps.linter.outputs.checks-failed > 0 }}
        run: exit 1

      - name: Clazy-standalone
        uses: MinyazevR/clazy-standalone-action@v0.3.3
        with:
          checks: 'level0,level1,level2'
          database: ${{ env.BUILD_DIR }}
          fail-on-warning: true
          install-stable: true
          only-diff: true
          ignore-dirs: '^(PythonQt|mlx90640-library)$'
          root-dir: ${{ github.workspace }}
          ignore-header-deps: true
          ignore-external-files: true