name: 'macOS Build'
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
  
jobs:
  macos-14:
    runs-on: macos-14
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        qt-version: ['5.15']
        python-version: ['3.13']

    steps:
      - name: Configure git
        run: |
            git --version
            git config --global core.symlinks true
            git config --global core.autocrlf false

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          submodules: recursive
          
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          
      - name: Install Qt
        run: "$GITHUB_WORKSPACE/scripts/github/install_Darwin.sh"
        env:
          TRIK_QT_VERSION: ${{ matrix.qt-version }}
          TRIK_PYTHON_VERSION: ${{ matrix.python-version }}
 
      - name: Ccache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          key: ${{ runner.os }}-${{ matrix.qt-version }}

      - name: Check available tools
        run: |
             set -xueo pipefail
             uname -a
             qmake --version && qmake -query
             python3 --version
             which g++
             g++ --version
             ccache --version

      - name: QMake
        run: |
            qmake CONFIG+=release CONFIG+=trik_not_brick \
                  CONFIG+=tests CONFIG+=ccache CONFIG+=sanitizer \
                  CONFIG+=sanitize_undefined \
                  PYTHON_VERSION=$(python3 --version | grep -o '3\.[^.]\+') \
                  PYTHON_DIR=$(which python3 | xargs dirname | xargs dirname) \
                  "$GITHUB_WORKSPACE/"

      - name: QMake all
        timeout-minutes: 3
        run: |
            make -j $(nproc) qmake_all

      - name: Make all
        timeout-minutes: 10
        run: |
            make -j $(nproc) all

      - name: Unit tests
        timeout-minutes: 5
        run: |
            export TRIK_PYTHONPATH=$(python3 -c "import sys; import os; print(os.pathsep.join(sys.path))")
            export PYTHONVERBOSE=2
            export PYTHONDEBUG=2
            export PYTHONMALLOC=malloc_debug
            export PYTHONFAULTHANDLER=1
            export PYTHONDEVMODE=1
            env | sort
            make -k check TESTARGS="-platform minimal"
